@define-color bg      #282828;
@define-color fg      #928374;
@define-color red     #cc241d;
@define-color green   #98971a;
@define-color yellow  #d79921;
@define-color purple  #b16286;
@define-color blue    #458588;
@define-color aqua    #689d6a;
@define-color orange  #d65d0e;

@define-color separator   #665c54;
@define-color white   #ebdbb2;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 6px;
    color: @blue;
    background: transparent;
    border-bottom: 3px solid @bg;
}
#workspaces button.active {
    color: @orange;
    border-bottom: 3px solid @purple;
}
#workspaces button.hidden {
    color: @white;
}
#workspaces button.hidden.active {
    color: @blue;
    border-bottom: 3px solid @purple;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: @separator;
}

#clock {
    color: @aqua;
    border-bottom: 4px solid @aqua;
}

#disk {
    color: @purple;
    border-bottom: 4px solid @purple;
}

#memory {
    color: @blue;
    border-bottom: 4px solid @blue;
}

#cpu {
    color: @yellow;
    border-bottom: 4px solid @yellow;
}

#network {
    color: @green;
    border-bottom: 4px solid @green;
}

#network.disconnected {
    color: @red;
    border-bottom: 4px solid @red;
}

#tray > * {
    padding: 0 6px;
    margin-left: 1px;
    background: transparent;
}

#tray > .needs-attention {
    border-bottom: 4px solid @red;
}

#tray menu {
    color: @fg;
    background-color: @bg;
}
